<ion-navbar *navbar align-title="left">
<button menuToggle>
    <ion-icon id="back-button" name="arrow-round-back"></ion-icon>
</button>
<h3 id="title">Statistics</h3>
</ion-navbar>


<ion-content padding class="getting-started">
    <div class="content">

        <div class="tab-selector">
            <ion-segment [(ngModel)]="statTrigger" [attr.light]="isAndroid ? '' : null">
                <ion-segment-button class="stat-tabs" value="daily">
                    Daily
                </ion-segment-button>
                <ion-segment-button class="stat-tabs" value="weekly">
                    Weekly
                </ion-segment-button>
                <ion-segment-button class="stat-tabs" value="monthly">
                    Monthly
                </ion-segment-button>
                <ion-segment-button class="stat-tabs" value="all">
                    All Time
                </ion-segment-button>
            </ion-segment>

            <div class="spacer"></div>
        </div>

        <div [ngSwitch]="statTrigger">
            <div *ngSwitchWhen="'daily'">
                <ion-row >
                    Insert chart1 here!

                </ion-row>

                <br>
                <br>
            </div>

            <div *ngSwitchWhen="'weekly'">
                <ion-row >
                    Insert chart2 here!

                </ion-row>

                <br>
                <br>
            </div>

            <div *ngSwitchWhen="'monthly'">
                <ion-row >
                    Insert chart3 here!

                </ion-row>

                <br>
                <br>
            </div>

            <div *ngSwitchWhen="'all'">
                <ion-row >
                    Insert chart4 here!

                </ion-row>

                <br>
                <br>
            </div>
        </div>

        <div>
            <ion-row >
                <ion-col>
                    <div class="circledown">
                        <div class="circletext">1200 orders</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="circletop">
                        <div class="circletext">243 pending</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="circleleft">
                        <div class="circletext">156 new</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="circleright">
                        <div class="circletext">1670 visitors</div>
                    </div>
                </ion-col>
            </ion-row>

        </div>

        <div class="spacerow2"></div>

        <div>
            <ion-row>
                <ion-col>
                    <div id="textdash2">23.890</div>
                    <div id="textdash3">money</div>
                </ion-col>
                <ion-col>
                    <div id="textdash2">21</div>
                    <div id="textdash3">employees</div>
                </ion-col>
                <ion-col>
                    <div id="textdash2">129</div>
                    <div id="textdash3">messages</div>
                </ion-col>
            </ion-row>
        </div>

        <div class="spacerow2"></div>

        <div class="tab-selector">
            <ion-row>
                <ion-col width-33>
                    <div class="simplebox">
                        Products (158)
                    </div>
                </ion-col>
                <ion-col>
                    <ion-segment [(ngModel)]="mostTrigger" [attr.light]="isAndroid ? '' : null">
                        <ion-segment-button class="stat-tabs" value="visited">
                            <h1 class="textsegbar">Most visited</h1>
                        </ion-segment-button>
                        <ion-segment-button class="stat-tabs" value="purchased">
                            <h1 class="textsegbar">Most purchased</h1>
                        </ion-segment-button>
                    </ion-segment>

                    <div class="spacer"></div>
                </ion-col>
            </ion-row>
        </div>

        <div [ngSwitch]="mostTrigger">
            <div *ngSwitchWhen="'visited'">
                <ion-list>
                    <div *ngFor="#mostp of mostpurchased; #i = index">
                        <ion-item>
                            <ion-row >
                                <ion-col width-10 id="textdash">
                                    {{i+1}}
                                </ion-col>
                                <ion-col width-33.3 id="textdash">
                                    {{mostp.name}}
                                </ion-col>
                                <ion-col>
                                    <div class="progressbar2"  >
                                        <div [ngStyle]="{'width':mostp.percentage}" ></div>
                                    </div>
                                </ion-col>
                                <ion-col width-10 id="textblue">
                                    {{mostp.numberofpurchases}}
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </div>
                </ion-list>

                <br>
                <br>
            </div>

            <div *ngSwitchWhen="'purchased'">
                <ion-list>
                    <div *ngFor="#mostp of mostpurchased; #i = index">
                        <ion-item>
                            <ion-row>
                                <ion-col width-10 id="textdash">
                                    {{i+1}}
                                </ion-col>
                                <ion-col width-33.3 id="textdash">
                                    {{mostp.name}}
                                </ion-col>
                                <ion-col >
                                    <div class="progressbar2"  >
                                        <div [ngStyle]="{'width':mostp.percentage}" ></div>
                                    </div>
                                </ion-col>
                                <ion-col width-10 id="textblue">
                                    {{mostp.numberofpurchases}}
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </div>
                </ion-list>

                <br>
                <br>
            </div>
        </div>
    </div>
</ion-content>