.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;

  }
}

.content{
  width: 70%;
  margin: 0 auto;
}

.tab-selector {
  .spacer {
    height: 40px;
  }
}

ion-segment-button.stat-tabs {
  border:none !important;
  color: black !important;
  background-color: none !important;
  border-radius: 0 0 0 0 !important;
  border-bottom : 1px solid $app-grey-text !important;
}


.segment-button.segment-activated {
  background-color: white !important;
  border-bottom : 2px solid $app-blue !important;
}

.circledown {
  position: relative;
  margin: 4em auto;
  width: 8em; height: 8em;
  border-radius: 50%;
  background: white;
  border: 10px solid white;
  border-left-color: darkblue;
  border-top-color: darkblue;
  border-right-color: darkblue;
}

.circleleft {
  position: relative;
  margin: 4em auto;
  width: 8em; height: 8em;
  border-radius: 50%;
  background: white;
  border: 10px solid white;
  border-bottom-color: darkblue;
  border-top-color: darkblue;
  border-right-color: darkblue;
}

.circletop {
  position: relative;
  margin: 4em auto;
  width: 8em; height: 8em;
  border-radius: 50%;
  background: white;
  border: 10px solid white;
  border-left-color: darkblue;
  border-bottom-color: darkblue;
  border-right-color: darkblue;
}

.circleright {
  position: relative;
  margin: 4em auto;
  width: 8em; height: 8em;
  border-radius: 50%;
  background: white;
  border: 10px solid white;
  border-left-color: darkblue;
  border-top-color: darkblue;
  border-bottom-color: darkblue;
}

.circletext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}


h1 {
  text-align: center;
}

.progressbar {
  background-color: white;
  border-radius: 13px;
  border: 1px solid grey;
  padding: 0px;
}

.progressbar > div {
  background-color: $app-blue;
  width: 40%;
  height: 20px;
  border-radius: 10px;
}


#row1 {
  padding-top: 7%;
  padding-left: 30%;

}

#row3 {
  //width: 30%;
  //margin: 0 auto;
}



#col {
  padding-top: 7.5%;
}

#col1 {
  padding-top: 22%;
}

#title {
  color: #5BBBBF;
}


#back-button {
  color: #5BBBBF;
  font-size: 65px;
}

.status {
  // text-align: center;
  color: #000000;
  //font-weight: bold;
  font-size: 110%;
  height: 30px;
  //  padding-top: 8.25%;
  //  padding-bottom: 5%;
  //  padding-left: 32%;

}

#status-icon {
  //padding-top: 8%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #FFD500;
}

#status {
  color: #5BBBBF;
  font-weight: bold;
  font-size: 80%;
  //padding-bottom: 7%;
  padding-left: 6.5%;
}

.icon-links {
  padding-bottom: 8%;
}

#text {
  color: #000000;
}

#text2 {
  color: #000000;
  text-align: right;
}


.icons {
  padding-right: 2%;
  color: #5BBBBF;
  font-size: 1.5em;

}

.user-bold {
  color: #000000;
  font-weight: bold;
  font-size: 110%;
}

.order {
  color: #000000;
  //background: green;
}

#cenas ion-row:nth-child(odd){
  background: #E9EAEB;
}

.payment {
  padding-top: 4%;
}

.label {
  color: #5BBBBF;
  font-weight: bold;
}
