.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;

  }
}

.content{
  width: 70%;
  margin: 0 auto;
}

.tab-selector {
  .spacer {
    height: 40px;
  }
}

.spacerow2 {
  height: 3vw;
}

ion-segment-button.stat-tabs {
  border:none !important;
  color: black !important;
  background-color: none !important;
  border-radius: 0 0 0 0 !important;
  border-bottom : 1px solid $app-grey-text !important;
}


.segment-button.segment-activated {
  background-color: white !important;
  border-bottom : 2px solid $app-blue !important;
}

.circledown {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
  height: auto;
  padding-top: 70%;
  border-radius: 50%;
  border: 1vw solid darkred;

}

.circleleft {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
  height: auto;
  padding-top: 70%;
  border-radius: 50%;
  border: 1vw solid orange;
}

.circletop {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
  height: auto;
  padding-top: 70%;
  border-radius: 50%;
  border: 1vw solid royalblue;
}

.circleright {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
  height: auto;
  padding-top: 70%;
  border-radius: 50%;
  border: 1vw solid rebeccapurple;
}

.circletext {
  font-size: 2.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
}

#textdash2 {
   text-align: center;
   font-weight: bold;
   color: #000000;
   font-size: 3vw;
 }

#textdash3 {
  text-align: center;
  color: #000000;
  font-size: 2.4vw;
}

.progressbar2 {
  background-color: white;
  border-radius: 13px;
  border: 1px solid grey;
  padding: 0px;
  margin-top: 0px;
}

.progressbar2 > div {
  background-color: $app-blue;
  //width: 40%;
  height: 0.7em;
  border-radius: 10px;
}


#row1 {
  padding-top: 7%;
  padding-left: 30%;

}
