.getting-started {

  p {
    margin: 0px;
    line-height: 22px;
    font-size: 16px;

  }
}

.content{
  width: 70%;
  margin: 0 auto;
}

.spacerow {
  height: 60px;
}

.seperator {
  border-bottom : 1px solid $app-grey !important;
}

.user-title {
  color: #000000;
  //font-weight: bold;
  font-size: 150%;
  padding-top: 5px;
  margin-left: 30px;
  padding-bottom: 25px;
}

.user-bolds {
  color: #000000;
  font-weight: bold;
  font-size: 1em;
  padding-top: 10px;
}

#text {
  overflow: hidden;
  font-size: 1em;
  color: #000000;
  padding-top: 10px;
}

ion-item:hover {

  background-color: lightgray;
  border-color: lightgray;
}

.ion-row.stores {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;

}

#roundbutton {
  margin-top: 10px;
  border-radius: 50%;
  font-size: 1.5em;

}

.button-fab {
  height: 36px;
  width: 36px;
}

.button-outline-secondary
{
  border-color:#5bbbbf;
  color: #5bbbbf;
}
