// http://ionicframework.com/docs/v2/theming/
$app-blue: #5BBBBF;
$app-grey: #E9EAEB;
$app-chat-blue: #8CD3D7;
$app-grey-text: #939598;

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

$app-blue: #5BBBBF;
$app-grey: #E9EAEB;
$app-chat-blue: #8CD3D7;
$app-grey-text: #939598;

@import "../pages/hello-ionic/hello-ionic";

@import "../pages/store-list/store-list";

@import "../pages/item-details/item-details";

@import "../pages/custom-page/custom-page";

@import "../pages/login-page/login-page";

@import '../icons/ionicons';

@import "../pages/account-recovery/account-recovery";

@import "../pages/order-details/order-details";

@import "../pages/messages/messages";

@import "../pages/message-list/message-list";

@import "../pages/free-employee-list/free-employee-list";

@import "../app.scss";
