// http://ionicframework.com/docs/v2/theming/
$app-blue: #5BBBBF;
$app-grey: #E9EAEB;
$app-chat-blue: #8CD3D7;
$app-grey-text: #939598;

@import "../pages/hello-ionic/hello-ionic";

@import "../pages/store-list/store-list";

@import "../pages/item-details/item-details";

@import "../pages/custom-page/custom-page";

@import "../pages/login-page/login-page";

@import "../pages/app-settings/app-settings";

@import '../icons/ionicons';

@import "../pages/account-recovery/account-recovery";

@import "../pages/account-recover-num/account-recover-num";

@import "../pages/order-details/order-details";

@import "../pages/messages/messages";

@import "../pages/message-list/message-list";

@import "../pages/orders-tracking/orders-tracking";

@import "../pages/client-list/client-list";

@import "../pages/client-profile/client-profile";

@import "../pages/statistics/statistics";

@import "../pages/free-employee-list/free-employee-list";

@import "../app.scss";

@import "../pages/managment-list/managment-list";

@import "../pages/tutorial/tutorial"
