$appblue: #5EBABE;
$appgrey: #939598;
$applightgrey: #E9EAEB;

.login{
background-image: url(../../img/imagem2.png);
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
}

.logo{
height: 40%;
text-align: center;
position: relative;
}

.logo img{
  max-height: 500px;
  max-width: 500px;
}

.thumbnail-icon
{
  min-width: 0em;
  min-height: 0em;
}

.form1 .text-input::-webkit-input-placeholder
{
  color: white;
}

.item-content.activated{

  color:white;
}

.login-hr
{
  width: 100%;
  background-color:white;
  margin-top: -10px;
}

.credentials
{
  padding-bottom: 20px;
}



img{
position: absolute;
left: 50%;
top: 65%;
transform: translate(-50%,-50%);
max-width: 20%;
border-radius: 80%;

}

.form1 .text-input
{
  //margin: 0px;
  padding: none;

}

.icon
{
  width: 1em;
    height: 1em;
    left: 0%;
    top: 0%;
    position: relative;
}

.form1{
padding-left: 0;
border: 1px;
border-color: white;
}

.form2{
background-color: transparent;
padding-left: 0;
}

.form1, .form2::input-has-focus
{
  background-color: white;
}

.form{
height: 50%;
}

.button-full.button-outline{
border-left-width: 1px;
border-right-width: 1px;
}

.button1{
 background-color: $appblue;
 font-size: 110%;
}

.button2{
  margin-top: 0.5em;
color: white;
border-color: white;
font-size: 110%;
}

.button3{
 color: white;
 font-size: 110%;
}

.button4{
 color: white;
 font-size: 110%;
}

.button4.activated, .button3.activated, .button2.activated,{
  background-color: transparent;;
}

 .button1.activated
 {
   background-color: rgba(94,186,190,0.7);
 }
