$appblue: #8CD3D7;
$appgrey: #939598;
$applightgrey: #E9EAEB;


.login {

}

.logo{
height: 50%;	
}

.form{
height: 50%;
text-color: white;
}

.button1{
 background-color: $appblue;
}

.button2{
color: white;
background-color: $appgrey;
border-color: white;

}

.button3{
 color: $appgrey;
}

.button4{
 color: $appgrey;
}
