
ion-title {
  padding: 0 !important;
}


ion-navbar {
  button {
    color: $app-blue !important;
  }
  .toolbar-title {
    float: left;
    padding: 0 !important;
    color: $app-blue !important;
    text-align: left;
  }
}

.ios ion-navbar ion-title {
  padding-left: 55px !important;
}
