<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>client messages</ion-title>
</ion-navbar>


<ion-content>

  <div class="message-list">

    <ion-segment [(ngModel)]="messagesTrigger" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button value="unread">
        Unread
      </ion-segment-button>
      <ion-segment-button value="perClient">
        Per Client
      </ion-segment-button>
      <ion-segment-button value="all">
        All messages
      </ion-segment-button>
    </ion-segment>

    <br>
    <br>

    <div [ngSwitch]="messagesTrigger">
      <div *ngSwitchWhen="'unread'">
        <ion-row class="message-item" padding *ngFor="#message of messages | receivedMessages | unreadMessages">
          <ion-col width-10 class="date">
            {{message | dateCalendar}}
          </ion-col>
          <ion-col>
            <h3> {{ message | clientName:clients }} </h3>
            {{ message.content }}
            <br>
            <a (click)="itemTapped(message)">see all conversation</a>
          </ion-col>

        </ion-row>

        <br>
        <br>
      </div>

      <div *ngSwitchWhen="'perClient'">
        <ion-row padding *ngFor="#conversation of conversations">
          <ion-col>
            <h3> {{ (conversation.messages | receivedMessages)[0] | clientName:clients }} </h3>
            {{ conversation.messages[0].content }}
            <br>
            <a (click)="itemTapped(conversation.messages[0])">see all conversation</a>
          </ion-col>

        </ion-row>

        <br>
        <br>
      </div>

      <div *ngSwitchWhen="'all'">
        <ion-row padding *ngFor="#message of messages | receivedMessages">
          <ion-col width-10>
            {{message.date}}
          </ion-col>
          <ion-col>
            <h3> {{ message | clientName:clients }} </h3>
            {{ message.content }}
            <br>
            <a (click)="itemTapped(message)">see all conversation</a>
          </ion-col>

        </ion-row>

        <br>
        <br>
      </div>
    </div>

  </div>

</ion-content>
