<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>client messages</ion-title>
</ion-navbar>

<ion-toolbar [attr.primary]="isAndroid ? '' : null" >
  <ion-segment [(ngModel)]="messagesTrigger" value="unread" [attr.light]="isAndroid ? '' : null">
    <ion-segment-button value="unread">
      Unread
    </ion-segment-button>
    <ion-segment-button value="perClient">
      Per Client
    </ion-segment-button>
    <ion-segment-button value="all">
      All
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>


<ion-content>

  <div [ngSwitch]="messagesTrigger">
    <div *ngSwitchWhen="'unread'">
      <div padding *ngFor="#message of messages | receivedMessages | unreadMessages">
        <h3> {{ message | clientName:clients }} </h3>
        {{ message.content }}
        <br>
        <a (click)="itemTapped(message)">see all conversation</a>
        <br>
      </div>
    </div>

    <div *ngSwitchWhen="'perClient'">

    </div>

    <div *ngSwitchWhen="'all'">
      <div padding *ngFor="#message of messages | receivedMessages">
        <h3> {{ message | clientName:clients }} </h3>
        {{ message.content }}
        <br>
        <a (click)="itemTapped(message)">see all conversation</a>
        <br>
      </div>
    </div>
  </div>


</ion-content>
