.message-list {
  padding-top: 2%;
  padding-left: 17%;
  padding-right: 17%;
  height: 100%;
}

.tab-selector {
  .spacer {
    height: 40px;
  }
}

ion-segment-button.message-tabs {
  border:none !important;
  color: black !important;
  background-color: none !important;
  border-radius: 0 0 0 0 !important;
  border-bottom : 1px solid $app-grey-text !important;
}


.message-tabs.segment-button.segment-activated {
  background-color: white !important;
  border-bottom : 2px solid $app-blue !important;
}

.message-item {
  padding: 0;
  height: 100px;
  margin-bottom: 50px;
  margin-top: 25px;
}

.date {
  padding: 5px 0 0 0 !important;
  margin-right: 40px;
  color: $app-grey-text;
  text-align: center;
  position: relative;

}

ion-col.message {
  padding: 5px 0 0 0 !important;
}

.client-name {
  margin-top: 0 !important;
  font-weight: bold;
}

.client-pic {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-image: url("/img/placeholder-user.png");
    background-size: 75px 75px;

    padding: 5px 0 0 0 !important;
    margin-right: 30px;
}

.per-client {
  align-items: center;
  margin-bottom: 25px !important;
}

.seperator {
  border-bottom : 1px solid $app-grey !important;
}

@media only screen and (max-width: 650px) {
  .message-list {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
  }
  ion-col.date {
    display: none;
  }
}
