.messages {
  position: relative;
  padding: 5%;

  .title {
    ion-icon {
      float: left;
    }
    h5 {
      margin-left: 25px;
    }
  }

  .message-received {
    padding: 25px;
    border-radius: 0px 20px 20px 20px;
    background-color: #E9EAEB;
    width: 40%;

    small {
      color: #AAACAE;
    }

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 2px;
      background: #DDDDDD;
      left: 50%;
      transform: translateY(-10%);
    }
  }

  .message-sent {
    padding: 25px;
    border-radius: 20px 0px 20px 20px;
    background-color: #8CD3D7;
    color: white;
    width: 40%;
    margin-left: 60%

  }

}
