.text-recovery
{
  text-align: left;
  padding-bottom: 1%;
  p
  {
    color: white !important;
    padding-left: -30px;
  }

}

.it-in ion-item{
  background-color: white;
}

.warning
{
  color:white;
}
