.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu{
  color: white;
  height: 100%;
  background-image: url("/img/background.png");
  background-position: center;
  font-weight: bold;
}

.center{
  text-align: center;
}

.enlarge{
  width: 50%;
}

.input {
  opacity: 0.4;
  input{
    color: grey;
  }
}

.submit-button{
  background-color: $app-blue;
  border-radius: 0 0 0 0 !important;
  font-weight: bold;
}

.submit-button.activated{
  background-color: $app-blue;
}

.button[disabled] {
    opacity: 1;
    cursor: default !important;
    pointer-events: none;
}

.button:hover:not(.disable-hover) {
    opacity: 1;
    text-decoration: none;
}

.error-box {
  color: #dc3847;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  padding: 2px;
}

.error {
    border-bottom: 3px solid red !important;
}
