<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>products</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <div class="products-container">
      <div class="category" *ngFor="#category of categories">
        {{category.name}}
        <ion-slides>
          <ion-slide *ngFor="#product of products | productsCategory:category">
            <h1>{{product.product_name}}</h1>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </ion-list>
</ion-content>
