<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>products</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <div class="products-container">
      <div class="category" *ngFor="#category of categories">
        {{category.name}}
        <ion-slides on-slide-changed="onSlideChanged()">
          <ion-slide *ngFor="#fiveproducts of products | productsCategory:category; #i=index">
            <div *ngFor="#product of fiveproducts">
              <ion-col>
                <img src="{{product.image}}">
                <p>{{product.product_name}}</p>
              </ion-col>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </ion-list>
</ion-content>
