.products-container{
  padding-left: 4%;
  padding-top: 2%;
}

.category{
  color: $app-blue;
  font-size: 150%;
  padding-top: 3%;
}

.product{
  color: black;
}

.product-element{
  padding-left: 5%;
  min-width: 20%;
  img {
    max-width: 120px;
    max-height: 80px;
    width: auto;
    height: auto;
  }
}
