<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Products</ion-title>
</ion-navbar>

<ion-content class="carrossel">
    <div class="products-container">
      <div class="category" *ngFor="#category of categories">
        {{category.name}}
        <ion-slides>
          <ion-slide *ngFor="#fiveproducts of products | productsCategory:category; #i=index">
            <ion-grid>
              <ion-row>
                <div class="product-element" *ngFor="#product of fiveproducts" (click)="productDetails(product)">
                  <ion-col width-100>
                    <img src="{{product.image}}" (click)="itemTapped(product)">
                    <p>{{product.product_name}}</p>
                  </ion-col>
                </div>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
</ion-content>
