#profile-pic {
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url("/img/placeholder-user.png");
  background-size: 200px 200px;

  padding: 5px 0 0 0 !important;
  margin-right: 30px;

}
