#profile-pic {
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url("/img/placeholder-user.png");
  background-size: 200px 200px;

  padding: 5px 0 0 0 !important;
  margin-right: 30px;

}

ion-scroll {
  height: 500px;
}

.profile-menu {
  flex-wrap: wrap !important;
}

.profile-segment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  .segment-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    height: 30px;
    background-color: $app-chat-blue;
    //font-weight: bold;
    color: white;
    font-size: 1.2em;
  }

  .segment-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 70%;
    margin-top: 35px;
    margin-bottom: 35px;

    * {
      flex-grow: 1;
    }
  }

  #profile-general {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.segment-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;

  .segment-table-row {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid $app-grey-text;

    .segment-table-row-key {
      flex-grow: 1;
      width: 50%;
      padding-left: 15px;
    }
    .segment-table-row-value {
      width: 50%;
      flex-grow: 1;
    }
  }
}

.table-seperator {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: bold;
}
