
.content{
  width: 70%;
  margin: 0 auto;
}

#row1 {
  padding-top: 7%;
  //padding-left: 30%;

}

#row3 {
  //width: 30%;
  //margin: 0 auto;
}



#col {
  padding-top: 7.5%;
}

#col1 {
  padding-top: 22%;
}

#title {
  color: #5BBBBF;
}


#back-button {
  color: #5BBBBF;
  font-size: 65px;
}

.status-title {
  // text-align: center;
  color: #000000;
//  font-weight: bold;
  font-size: 130%;
  height: 2em;
//  padding-top: 8.25%;
//  padding-bottom: 5%;
//  padding-left: 32%;

}



#status-icon-inTraffic{
  //padding-top: 8%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #FFD500;
}

#status-icon-shipped{
  //padding-top: 8%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #36C560;
}

#status-icon-pending{
  //padding-top: 8%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #5BBBBF;
}

#status-icon-canceled{
  //padding-top: 8%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #FF0404;
}



/*
#change-status {
  color: #5BBBBF;
  font-weight: bold;
  font-size: 105%;
  //padding-bottom: 7%;
  padding-left: 6.5%;
}*/

.icon-links {
  padding-bottom: 8%;
  font-size: 110%;
}

#text {
  color: #000000;
}

.icons-order {
  padding-right: 4%;
  color: #5BBBBF;
  //font-size: 120%;
  font-size: 1.5em;

}

.user-bold {
  color: #000000;
  font-weight: bold;
  font-size: 110%;
}

.order {
  color: #000000;
  //background: green;
}

.background-table ion-row:nth-child(even){
  background: #E9EAEB;
}

#background-table ion-row:nth-child(odd){
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.payment {
  padding-top: 4%;
  font-size: 110%;
}

.label {
  color: #5BBBBF;
  font-weight: bold;
}

#allocate-button{
  font-size: 110%;
}

#changeStatus-button{
  font-size: 100%;
}



.edit-button {
    padding: 0 1%;
    height: 1.5em;
    font-size: 1.6rem;
    color: white;
    background-color: $app-blue;
    border-radius: 0 0 0 0 !important;
    font-weight: bold;
}

.edit-button.activated{
  background-color: $app-blue;
}

.profile-segment1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.segment-content1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 70%;
  padding-top: 35px;
  padding-bottom: 35px;

  * {
    flex-grow: 1;
  }
}

.segment-content2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;

  * {
    flex-grow: 1;
  }
}
