.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;

  }
}

.content{
  width: 70%;
  margin: 0 auto;
}

#row1 {
  padding-top: 7%;
  padding-left: 30%;

}

#row3 {
  //width: 30%;
  //margin: 0 auto;
}



#col {
  padding-top: 7.5%;
}

#col1 {
  padding-top: 22%;
}

#title {
  color: #5BBBBF;
}


#back-button {
  color: #5BBBBF;
  font-weight: bold;
}

.status {
  // text-align: center;
  color: #000000;
  //font-weight: bold;
  font-size: 110%;
  height: 30px;
//  padding-top: 8.25%;
//  padding-bottom: 5%;
//  padding-left: 32%;

}

#status-icon {
  //padding-top: 8%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #FFD500;
}

#status {
  color: #5BBBBF;
  font-weight: bold;
  font-size: 80%;
  //padding-bottom: 7%;
  padding-left: 6.5%;
}

.icon-links {
  padding-bottom: 8%;
}

#text {
  color: #000000;
}

.icons {
  padding-right: 2%;
  color: #5BBBBF;
  font-size: 1.5em;

}

.user-bold {
  color: #000000;
  font-weight: bold;
  font-size: 110%;
}

.order {
  color: #000000;
  //background: green;
}

#cenas ion-row:nth-child(odd){
  background: #E9EAEB;
}

.payment {
  padding-top: 4%;
}

.label {
  color: #5BBBBF;
  font-weight: bold;
}
