
.content{
  width: 70%;
  margin: 0 auto;
}

#row1 {
  padding-top: 7%;

}

#firstCol {
  min-width:47%;
}

#firstRow {
  width:110%;
}



#col {
  padding-top: 7.5%;
}

#col1 {
  padding-top: 22%;
}

#title {
  color: #5BBBBF;
}


#back-button {
  color: #5BBBBF;
  font-size: 65px;
}

.status-title {
  color: #000000;
  font-size: 130%;
  height: 2em;

}



#status-icon-1{
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #8cc63f;
}

#status-icon-2{
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #ffde16;
}

#status-icon-3{
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #13a89e;
}

#status-icon-4{
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #bf1e2e;
}

#status-icon-5{
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #9B9B9B;
}


.icon-links {
  padding-bottom: 8%;
  font-size: 110%;
}

#text {
  color: #000000;
}

.icons-order {
  padding-right: 4%;
  color: #5BBBBF;
  font-size: 1.5em;

}

.user-bold {
  color: #000000;
  font-weight: bold;
  font-size: 110%;
}

.order {
  color: #000000;
}

.background-table ion-row:nth-child(even){
  background: #E9EAEB;
}

#background-table ion-row:nth-child(odd){
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.payment {
  padding-top: 4%;
  font-size: 110%;
}

.label {
  color: #5BBBBF;
  font-weight: bold;
  font-size: 110%;
}

.tableContent {
  font-size: 110%;
}

#allocate-button{
  font-size: 110%;
}

#changeStatus-button{
  font-size: 100%;
    width: 47.5%;
}

.buttonEdit {
  min-width: 240%;
}


.edit-button {
    padding: 0 1%;
    height: 1.5em;
    font-size: 1.6rem;
    color: white;
    background-color: $app-blue;
    border-radius: 0 0 0 0 !important;
    font-weight: bold;
}

.edit-button.activated{
  background-color: $app-blue;
}

.profile-segment1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.segment-content1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 70%;
  padding-top: 35px;
  padding-bottom: 35px;

  * {
    flex-grow: 1;
  }
}

.segment-content2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;

  * {
    flex-grow: 1;
  }
}
