.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }
}

#row {
  padding-top: 10%
  
}

#col {
  padding-top: 9.5%;
}

#title {
  color: #5BBBBF;
}


#back-button {
  color: #5BBBBF;
  font-size: 65px;
}

.status {
  // text-align: center;
  color: #939598;
  //font-weight: bold;
  font-size: 110%;
  height: 30px;
//  padding-top: 8.25%;
//  padding-bottom: 5%;
//  padding-left: 32%;

}

#status-icon {
  //padding-top: 8%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: 1.5em;
  color: #FFD500;
}

#status {
  color: #5BBBBF;
  font-size: 80%;
  padding-bottom: 7%;
  padding-left: 9%;
}

.icon-links {
  padding-bottom: 8%;
}

#text {
  color: #939598;
}

.icons {
  padding-right: 2%;
  color: #5BBBBF;
  font-size: 1.5em;

}

.user-bold {
  color: #939598;
  font-weight: bold;
  font-size: 110%;
}

.order {
  color: #939598;
//  font-weight: bold;
  padding-bottom: 8%
}
