<ion-navbar *navbar align-title="left">
  <button menuToggle>
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
  <ion-title>{{client?.first_name}} {{client?.last_name}}</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">
<div class="content">

  <div class="profile-segment1">
    <div class="segment-content2">
  <ion-row  responsive-sm style="width:110%">
<ion-col></ion-col>
    <ion-col style="min-width:47%">
      <ion-col class="status-title" >

        <ion-icon *ngIf="order.status===3" id="status-icon-3" name="md-radio-button-on"></ion-icon>
        <ion-icon *ngIf="order.status===1" id="status-icon-1" name="md-radio-button-on"></ion-icon>
        <ion-icon *ngIf="order.status===2" id="status-icon-2" name="md-radio-button-on"></ion-icon>
        <ion-icon *ngIf="order.status===4" id="status-icon-4" name="md-radio-button-on"></ion-icon>
        <b *ngIf="order.status===4" >Status: Canceled</b>
        <b *ngIf="order.status===2" >Status: In Traffic</b>
        <b *ngIf="order.status===1" >Status: Shipped</b>
        <b *ngIf="order.status===3" >Status: Pending</b>
      </ion-col>
      <ion-col>
         <button block class="submit-button" id="changeStatus-button" style="width: 47.5%"  (click)="doRadio()">Change Status</button>
      </ion-col>
    </ion-col>
  <ion-col></ion-col>
  </ion-row>
</div>
</div>


  <ion-row responsive-sm id="row2">
   <ion-col id="col">
     <ion-col *ngIf="client" (click)="itemTapped(client)" class="icon-links" id="text"><ion-icon name="eye" class="icons-order"></ion-icon>client profile </ion-col>
     <ion-col *ngIf="client" (click)="goToMessages(client)" class="icon-links" id="text"><ion-icon name="chatbubbles-outline" class="icons-order"></ion-icon>send a message</ion-col>
     <ion-col *ngIf="client" (click)="goToWishList(client)" class="icon-links" id="text"><ion-icon name="heart-outline" class="icons-order"></ion-icon>client wishlist</ion-col>

   </ion-col>

   <ion-col>
     <ion-col id="col1">
      <ion-col class="user-bold">{{client?.first_name}} {{client?.last_name}}</ion-col>
       <ion-col class="icon-links" id="text">{{client?.address?.city}}</ion-col>
     </ion-col>
     <ion-col>
       <ion-col class="user-bold">Address</ion-col>
       <ion-col class="icon-links" id="text">{{client?.address?.address_line}}, {{client?.address?.address_line}}, {{client?.address?.city}}</ion-col>
     </ion-col>
     <ion-col>
       <ion-col class="user-bold">Scheduled delivery in</ion-col>
       <ion-col *ngIf="order.days >1" class="icon-links" id="text">{{order.days}} days</ion-col>
       <ion-col *ngIf="order.days === 1" class="icon-links" id="text">{{order.days}} day</ion-col>
      <ion-col *ngIf="order.days === 0" class="icon-links" id="text">Today</ion-col>
    </ion-col>
   </ion-col>

   <ion-col id="col">
     <ion-col class="payment"><b>Total: </b>{{orderPrice}} €</ion-col>
     <ion-col class="payment"><b>Payment: </b> {{order.payment}}</ion-col>
   </ion-col>
 </ion-row>

  <div class="profile-segment1">

     <div class="segment-content1 segment-border1">

         <ion-row class="user-bold">
          Order:
        </ion-row>

       <ion-col responsive sm class="background-table" id="background-table">


     <ion-col  id="background-table" class="background-table">
       <ion-row responsive sm class="label">
       <ion-col style="font-size:110%">Product</ion-col>
         <ion-col id="table-col1" style="font-size:110%">Amount</ion-col>
         <ion-col id="table-col2" style="font-size:110%">Price</ion-col>
       </ion-row>

       <ion-row (click)="processProduct(product)" responsive sm *ngFor="#product of order.products">
       <ion-col style="font-size:110%">{{product.name}}</ion-col>
         <ion-col id="table-col1" style="font-size:110%">{{product.amount}}{{product.units}}</ion-col>
         <ion-col id="table-col2" style="font-size:110%">{{product.price}}€ <ion-icon *ngIf="product.processed" name="checkmark-circle"></ion-icon></ion-col>
       </ion-row>

       <ion-row>
         <ion-col class="label" style="font-size:110%">Total: </ion-col>
         <ion-col></ion-col>
         <ion-col></ion-col>
         <ion-col id="table-col2" style="font-size:110%">16.21€</ion-col>
       </ion-row>
       <br>


     </ion-col>
   </ion-col>


<ion-row>
   <ion-col>
   </ion-col>
   <ion-col>
  <button *ngIf="!order.employee && order.status==3" class="submit-button" id="allocate-button"(click)="allocateEmploye()" block>Allocate employee</button>
  <div *ngIf="order.employee" class="container user-bold">Allocated to {{order.employee}} <button class="submit-button" id="allocate-button" (click)="editAllocateEmploye(order.employee)">Edit employee</button></div>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row>

</div>

 </div>
 </div>

</ion-content>
