.order-list {
  padding-top: 2%;
  padding-left: 17%;
  padding-right: 17%;
  height: 100%;
}

.tab-selector {
  .spacer {
    height: 40px;
  }
}

ion-segment-button.order-tabs {
  border:none !important;
  color: black !important;
  background-color: none !important;
  border-radius: 0 0 0 0 !important;
  border-bottom : 1px solid $app-grey-text !important;
}

.segment-button.segment-activated {
  background-color: white !important;
  border-bottom : 2px solid $app-blue !important;
}

hr{
  color: black !important;
}


.status-order-1 {
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 7%;
  font-size: 1.5em;
  color: #8cc63f;
}

.status-order-2 {
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 7%;
  font-size: 1.5em;
  color: #ffde16;
}

.status-order-3 {
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 7%;
  font-size: 1.5em;
  color: #13a89e;
}

.status-order-4 {
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 7%;
  font-size: 1.5em;
  color: #bf1e2e;
}

.status-order-5 {
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 7%;
  font-size: 1.5em;
  color: #9B9B9B;
}

#orderName
{
  padding-right: 7%;
}
